#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  margin: 8px;
  background-color: #ddd;
}

.btn-red {
  background-color: red;
  color: white;
}

label {
  font-size: 24px;
}

input {
  padding: 8px;
  margin-top: 12px;
  font-size: 24px;
  width: 48px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  width: 460px;
}

.his-para {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}