#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  margin: 8px;
}

.btn-red {
  background-color: red;
  color: white;
}

input {
  padding: 8px;
  margin-top: 12px;
}

.container {
  border: 2px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  width: 460px;
}

.his-para {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}